<h1>Welcome to Rails template application!</h1>

<p>This template contains basic features to start an application:</p>
<ul>
  <li>Users management, base for authentication  </li>
  <li>Groups and roles management, base for authorisations </li>
  <li>Parameters management, for an esay and dynamic configuration </li>
  <li>Multilanguage translations management for data</li>
  <li>Multilanguage contextual Help</li>
  <li>Basic tests</li>
</ul>
<p>Menu:</p>
<ul>
  <li> <%= link_to Users management, base for authentication  </li>
  <li>Groups and roles management, base for authorisations </li>
  <li>Parameters management, for an esay and dynamic configuration </li>
</ul>