# Databases connections
databases:
  username: my_user
  password: my_pass
  schemas: my_app

# Smtp settings
smtp:
  address: "ssl0.ovh.net"
  user_name: "service@opendataquality.com"
  password: ---xxx---

# Sidekiq server
sidekiq:
  redis_url: "redis://localhost:6379/0"

# RabbitMQ: exchange = Collect-Abn, Queue = Key = Mediator.WorkflowEnd
  rabbitMQ_uri: "amqp://scheduler:1234@osb.com:31027/app"
  rabbitMQ_user: "abcd"
  rabbitMQ_pass: ---xxx---
  exchange: "Collect-Abn"
  queueKey: "Mediator.WorkflowEnd"

# Used as the base secret for all MessageVerifiers in Rails, including the one protecting cookies.
secret_key_base: ---xxx---
